div.div1{background: #999; float: left; height: 100%; width: auto; }
div.div2{ background: #666; height: 100%; }

/**
 * Site header
 */
.site-header {
    //border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid black;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    width: 100%;
    position: fixed;
    background-color: black;

    @include media-query($on-palm) {
        text-align: center;
    }
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    float: left;
    padding-left: 20px;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;

    @include media-query($on-palm) {
        width: 100%;
        margin: 0 auto;
    }
}
.site-title:visited {
    color: #ffffff;
}
.site-nav {
    float: right;
    padding: 4px;
    line-height: 56px;
    height: 30px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: #ffffff;
        font-size: 26px;
        font-weight: 800;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 8px;
        right: 30px;
        background-color: #358AFC;
        border-radius: 5px;
        text-align: center;

        .menu-icon {
            display: block;
            float: right;
            width: 26px;
            height: 26px;
            line-height: 0;
            padding-top: 5px;
            > svg {

                path {
                    fill: $grey-color-light;
                }
            }
        }

        .trigger {
            display: none;

        }

        &:hover .trigger {
            display: inline-block;
            margin-top: -11px;
        }

        .page-link {
            /*display: block;*/
            text-align: right;
            font-size: 16px;
            font-weight: 100;
            &:not(:first-child) {
                margin-left: 0px;
            }
        }
    }
}

/**
 * Site Sidebar
 */
.site-sidebar {
    width: 20%;
    height: calc(100% - 56px);
    margin-top: 56px;
    float: left;
    overflow-y: scroll;
    border-right: 1px solid black;
    background-color: rgb(53, 138, 252);

    @include media-query($on-palm) {
        float: none;
        width: 100%;
        margin-top: 0px;
        padding-top: 70px;
        overflow-y: hidden;
        padding-bottom: 40px;
    }
}
.inner-sidebar {
    width: auto;
}
.sidebar-media {
    width: auto;
    height: auto;
    padding: 10px;
    text-align: center;
}
.sidebar-media > img {
    border-radius: 50%;

    @include media-query($on-palm) {
        max-width: 50%;

    }
}
.sidebar-links {
    width: auto;
    height: auto;

    @include media-query($on-palm) {
        text-align: center;
    }    
}
.sidebar-links > div > ul {
    list-style-type: none;
    font-family: verdana;
    font-size: 25px;
    @include media-query($on-palm) {
        display: inline-flex;
    }
}
.white-link {
    color: #FFFFFF;
    display: block;
    font-size: 24px;
    font-size: 2.3vw;
    text-decoration: none;

    &:hover {
        color: rgba(26, 55, 255, 0.35);
    }

    &:visited {
        color: #FFFFFF;
    }
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: 5%;
    margin: 0 auto;
    text-align: center;
    font-weight: 400;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
    padding-top: 10px;
}


.footer-li-wrapper {
    font-size: 15px;
    color: $grey-color;
    @extend %clearfix;
}

.footer-col {
    width: auto;
}

.footer-col-1 {
    width: 35%;
    float: left;
    padding-left: 15px;
}

.footer-col-2 {
    width: 35%;
    float: right;
    padding-right: 15px;
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    width: 79%;
    height: calc(100% - 56px);
    margin-top: 56px;
    display: inline-block;
    text-align: left;
    padding-bottom: 0%;
    overflow-y: scroll;

    @include media-query($on-palm) {
        overflow-y: visible;
        width: 100%;
    }
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
        padding: 10px;
        border: 1px solid rgb(53, 138, 252);
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

.home {
    padding: 5%;
}

/**
 * Posts
 */
 .post {
    padding: 5%;
 }
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
