/**
 * Site Header
 */
.site-header {
    border-bottom: 1px solid black;
    min-height: 56px;
    width: 100%;
    position: fixed;
    background-color: black;
    @include media-query($on-palm) {
        text-align: center;
    }
}

/**
 * Site Title
 */
.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    float: left;
    padding-left: 20px;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    &:visited {
        color: #ffffff;
    }
    @include media-query($on-palm) {
        font-size: 16px;
        line-height: 0px;
        letter-spacing: 0px;
        float: none;
        padding-left: 0px;
    }
}

/**
 * Social Media List
 */
.social-media-list {
    margin: 0 auto;
    padding-top: 10px;
    @include media-query($on-palm) {
        padding-top: 0px;
    }

    > li {
        display: inline-block;
    }
}

/**
 * Sidebar
 */
.sidebar {
    width: 20%; 
    height: calc(100% - 56px);
    margin-top: 56px;
    float: left;
    overflow-y: scroll;
    border-right: 1px solid black;
    background-color: rgb(53, 138, 252);
    @include media-query($on-palm) {
        width: 100%;
        height: initial;
        margin-top: 0px;
        float: none;
        padding-top: 60px;
        overflow-y: hidden;
    }

    .inner-sidebar {
        width: auto;
    
        .sidebar-media {
            width: auto;
            height: auto;
            padding: 10px;
            text-align: center;

            > img {
                border-radius: 50%;
                @include media-query($on-palm) {
                    max-width: 50%;
                }
            }
        }
    
        .sidebar-links {
            width: auto;
            height: auto;
            @include media-query($on-palm) {
                text-align: center;
            }

            .languages-list {
                margin: 0 auto;
                list-style-type: none;
                font-family: verdana;
                font-size: 25px;

                @include media-query($on-palm) {
                    border-top: 1px solid #FFFFFF;
                    margin: 0px 20px 0px 20px;
                }

                > li {
                    padding: 3%;
                    border-top: 1px solid #FFFFFF;

                    > a {
                        color: #FFFFFF;
                        font-size: 24px;
                        font-size: 2.3vw;
                        text-decoration: none;
                        &:hover {
                            color: rgba(26, 55, 255, 0.35);
                        }
                        &:visited {
                            color: #FFFFFF;
                        }
                    }
                    &:nth-child(5) {
                        border-bottom: 1px solid #FFFFFF;
                        @include media-query($on-palm) {
                          border-bottom: 0px;
                        }  
                    }
                    @include media-query($on-palm) {
                        display: inline-block;
                        border: 0px;
                        padding-top: 0px;
                    }
                }
            }
        }
    }
}

/**
 * Page 
 */
.page-container {

    width: 79%;
    height: calc(100% - 56px);
    margin-top: 56px;
    display: inline-block;
    overflow-y: scroll;

    @include media-query($on-palm) {
        width: 100%;
        margin-top: 0px;
        overflow-y: visible;
    }

 /***********
 ***** Pages
 ****/ 
    .page{
        padding: 5%; //give every page some padding 
    }

    .page-heading {
        font-size: 20px;
    }

 /***********
 ***** Posts
 ****/    

    .post-list {
        margin-left: 0;
        list-style: none;

        > li {
            margin-bottom: $spacing-unit;
            padding: 10px;
            border: 1px solid rgb(53, 138, 252);
        }
    }

 /***********
 ***** Post
 ****/

    .post-header {
        margin-bottom: $spacing-unit;
    }
    .post-title {
        font-size: 42px;
        letter-spacing: -1px;
        line-height: 1;

        @include media-query($on-laptop) {
            font-size: 26px;
        }
    }

    .post-content {
        margin-bottom: $spacing-unit;

        h2 {
            font-size: 32px;

            @include media-query($on-laptop) {
                font-size: 28px;
            }
        }

        h3 {
            font-size: 26px;

            @include media-query($on-laptop) {
                font-size: 22px;
            }
        }

        h4 {
            font-size: 20px;

            @include media-query($on-laptop) {
                font-size: 18px;
            }
        }
    }

 /***********
 ***** Shared
 ****/

    .post-meta {
        font-size: $small-font-size;
        color: $grey-color;
    }

    .post-link {
        display: block;
        font-size: 24px;
    }

}

/**
 * Footer
 */
.footer {
    border-top: 1px solid rgb(53, 138, 252);
    padding-top: 1%;
    margin: 0 auto;
    text-align: center;
    font-weight: 400;

    .footer-li-wrapper {
        font-size: 15px;
        color: $grey-color;
        @extend %clearfix;
    }

    .text {

    }
}

/**
 * Images
 */
img[alt=drawing] { 
    width: 400px;
}




